.footer {
  margin: 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top-left p {
  font-size: 18px;
  max-width: 400px;
}

.footer-top-right {
  display: flex;
  align-items: center;
  gap: 35px;
}

.footer-email-input {
  display: flex;
  gap: 30px;
  padding: 18px 20px;
  border-radius: 50px;
  background: #555558;
  padding-right: 40px;
}

.footer-email-input input {
  outline: none;
  border: none;
  background: transparent;
  color: #f0f0f0;
  font-family: poppins;
  font-size: 14px;
}

.footer-email-input input::placeholder {
  color: rgb(221, 221, 221);
}

.footer-subs {
  font-size: 18px;
  padding: 18px 30px;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(267deg, rgb(50, 50, 210), rgb(128, 128, 200));
  transition: 0.3s;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.footer-bottom-left {
  max-width: 420px;
  margin-bottom: 20px;
}

.footer-bottom-right {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.footer-subs:hover {
  transform: scale(1.1);
  transition: 0.3s;
  background: linear-gradient(rgb(50, 50, 210), rgb(128, 128, 200));
}

.footer-email-input:hover {
  border: 2px white solid;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 50px 70px;
  }
  .footer-top {
    flex-direction: column;
    gap: 50px;
  }
  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 591px) {
  .footer {
    margin: 40px 50px;
  }
  .footer-top {
    flex-direction: column;
    gap: 25px;
  }

  .footer-top p {
    font-size: 16px;
  }

  .footer-email-input input {
    font-size: 11px;
  }

  .footer-email-input {
    padding: 10px 20px;
  }
  .footer-subs {
    font-size: 11px;
  }

  .footer-subs {
    padding: 10px 20px;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }
  .footer-bottom p {
    font-size: 12px;
  }
}
